.table-row-cell:selected {
    -fx-background-color: #110088;
}
.table-row-cell:selected .text {
    -fx-fill: #fff2f6;
}

.dodatnie {
    -fx-background-color: lightgreen;
}

.ujemne {
    -fx-background-color: lightcoral;
}